body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

  
  nav ul {
    list-style-type: none;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin: 20px;
}
.navbar {
        display: flex;
        align-items: center;
        padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav a {
    text-decoration: none;
}
  
  header {
    background-color: #fefdfd;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }
  
  section p {
    margin-top: 10px;
  }
  
  section:last-child {
    margin-bottom: 0;
  }